.App {
  background-color: black;
  color: white;
  min-height: 100vh;
}

.counter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.counterSizeGenerator {
  border: 2px solid white;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.multipleCounter {
  text-align: center;
  width: 70vw;
  margin: 0 auto;
}
